.Box {
    padding: 15px;
    position: relative;
    height: 500px;
    width: 400px;

    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: #26263c;
    border-radius: 10px;

    transition: backgroud 5s;
}

.Box::before {
    position: absolute;
    content: '';

    height: calc(100% + 4px);
    width: calc(100% + 4px);

    transform: translate(-2px, -2px);
    background: linear-gradient(90deg, rgb(73 73 114) 54%, rgb(181 88 131) 100%);
    z-index: -1;

    border-radius: 10px;
}

.Box__dummy-data {
    position: absolute;
    top: 8px;
    left: 16px;
}

.Box__dummy-data-text {
    font-size: 1.3em;
    color: rgba(245, 245, 245, 0.2);
}

.Box--failed::before {
    background: linear-gradient(90deg, #3e4ca7 0%, #d55151 100%);
    animation: gradient-animation 3s infinite alternate-reverse;
    background-size: 400% 400%;
}

.Box--success::before {
    background: linear-gradient(90deg, #3e4ca7 0%, #4ebd41 100%);
    background-size: 400% 400%;
    animation: gradient-animation 3s infinite alternate-reverse;
}

.Box__menu-wrapper {
    grid-area: 1 / 3 / 2 / 4;
    text-align: right;
}

.Box__menu-button {
    position: relative;
    margin: 5px;
    padding: 3px;
    font-size: 2.2em;
    color: #d47ba5;
    text-align: center;
    transition: color 0.1s;
}

.Box__menu-button:hover {
    cursor: pointer;
    color: #e39cbd;
}

.Box__menu-box {
    position: absolute;
    height: 70px;
    width: 120px;

    right: 50%;
    top: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 0.5em;
    border-radius: 2px;
}

.Box__menu-link {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: inherit;
    font-size: 1.1em;
    color: whitesmoke;

}

.Box__menu-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.Box__log-status-box {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;

    grid-area: 1 / 2 / 2 / 3;

    display: flex;
    justify-content: center;
    align-items: self-end;
    align-self: flex-end;

    color: #54ff40;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px #2a2525;

    background-color: rgba(255, 255, 255, 0.035);
    border-radius: 5px;
}

.Box__log-status-text {
    animation: jello-horizontal 0.9s both;
}

.Box__log-status-text--failed {
    color: #ff4040;
}

@keyframes gradient-animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes jello-horizontal {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}